:root {
  --box-shadow: 1px 2px 10px #4e4d4dd1;
}

body,
button {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #8ef6bf, #865a9d),
    repeating-radial-gradient(circle at center center,
      #8ef6bf,
      #8ef6bf,
      88px,
      transparent 90px,
      transparent 60px);
  background-blend-mode: multiply;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 2mm;
  box-shadow: var(--box-shadow);
  background: black;
  color: white;
  font-size: 14px;
}

button:hover {
  background: white;
  color: black;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

img {
  border-radius: 3mm;
  box-shadow: var(--box-shadow);
}

h1 {
  margin: 25px auto 35px;
  padding: 5px;
  border-radius: 4mm;
  box-shadow: var(--box-shadow);
  background: #72ff98ed;
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

a {
  color: blue;
}

footer {
  color: black;
  font-size: 13px;
}

.container {
  max-width: 895px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  padding: 10px 40px;
  border: 2mm solid #1b1b1b;
  border-radius: 6mm;
  box-shadow: 0 0 20px #9502df;
  background: linear-gradient(to top, #1b7e49e3 25%, #42da7ce3 50%);
}

.intro-image {
  width: 75%;
}

.intro-image-caption {
  display: block;
  font-size: 10px;
}

.main-body {
  margin-bottom: 35px;
  padding: 15px 35px;
  border-radius: 4mm;
  box-shadow: var(--box-shadow);
  background: #ffffffa9;
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  margin: 15px auto;
}

.grid img {
  position: relative;
  width: 95%;
  filter: grayscale(60%);
  transition: all 250ms ease-in-out;
  box-shadow: var(--box-shadow);
}

.grid img:hover {
  z-index: 10;
  filter: grayscale(0);
  transform: scale(1.2);
}

.main-body-link {
  display: block;
  margin: 20px auto;
}

footer p {
  font-size: 12px;
}

.dark {
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: radial-gradient(circle at center center, #7920a9, #1d1c1d),
    repeating-radial-gradient(circle at center center,
      #55d390,
      #53d48f,
      88px,
      transparent 90px,
      transparent 60px);
  background-blend-mode: multiply;
  color: white;
}

.dark .wrapper {
  border: 2mm solid black;
  background: black;
}

.dark .intro-image {
  box-shadow: 0 0 10px #8834b5;
}

.dark h1,
.dark .main-body {
  background: #45025de6;
}

.dark footer {
  color: white;
}

@media (max-width: 915px) {
  .grid img {
    filter: none;
    transition: none;
    box-shadow: var(--box-shadow);
  }

  .grid img:hover {
    z-index: 0;
    filter: none;
    transform: none;
  }
}

@media (max-width: 765px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 25px;
  }

  .wrapper {
    padding: 0 25px;
  }

  .main-body {
    padding: 10px 25px;
    border-radius: 4mm;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid img {
    width: 80%;
  }
}

@media (max-width: 571px) {
  button {
    margin-top: 15px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .wrapper {
    padding: 0 15px;
    border: 1mm solid #1b1b1b;
    border-radius: 5mm;
  }

  .main-body {
    margin-bottom: 35px;
    padding: 5px 18px;
  }

  .main-body-link {
    font-size: 14px;
  }
}
